[Unit]
Description=Turing Smart Screen
Requires=network-online.target
After=network-online.target

[Service]
Type=simple

# Check if this is your correct user!
User=bruno

# Check if this is the correct path for your project!
WorkingDirectory=/opt/turing-smart-screen-python/

# Full path to the venv's Python, followed by the script to be executed
ExecStart=/opt/turing-smart-screen-python/venv/bin/python3 main.py

Restart=always

ProtectSystem=full
ProtectHome=read-only
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
